* {
  box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */

html {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 16px;
  vertical-align: baseline;

  /* display: block; */
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
