* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Poppins', serif;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #e5e5e5;
  margin: 0;
}

.toolbar {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: white;
}

.brand {
  position: relative;
  width: 120px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(96, 112, 255);
  text-decoration: none;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler {
  display: none;
}

.ul-navbartool {
  display:none;
}

/*.ul-navbartool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 400px;
}*/

.union {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
}

.main-page {
  background-image: url("../assets/header-shapes mobile.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px 80px;
  background-color: white;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main-Page-container {
  position: relative;
  height: 100%;
  border-bottom-left-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-mainpage {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  position: relative;
  margin: 15px;
  text-align: center;
}

.description-mainpage {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  position: relative;
  margin: 15px;
  text-align: center;
}

.connect-mainpage {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  position: relative;
  margin: 15px;
  top: 5px;
}

.media {
  width: 170.17px;
  height: 20px;
  flex: 0 0 auto;
  order: 3;
  position: relative;
  padding:10%;

  

  display: flex;
  list-style-type: none;
 
}

.media_item {
  padding-right: 17px;
  size: 10px;
}

.section-card {
  width: 100%;
  background: #e5e5e5;
  top: -4px;
  position: relative;
  margin-left: 26px;
}

.card-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  padding-top: 72px; /* decreased padding */
  padding-bottom: 48px; /* decreased padding */
  row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px; /* decreased padding */
  gap: 8px; /* decreased gap */
  width: 295px;
  height: 480px; /* decreased height */
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.card-img {
  width: 100%;
}

.card-title {
  width: 100%;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px; /* decreased font size */
  color: #172b4d;
  position: relative;
}

.text {
  display: flex;
  justify-content: space-around;
  top: 12px; /* decreased position */
  position: relative;
  font-family: 'Poppins', serif;
  font-size: 14px; /* decreased font size */
  color: #344563;
  height: 16px;
}

.counter-png {
  width: 8px; /* decreased size */
  height: 7px; /* decreased size */
  position: relative;
  top: 4px; /* decreased position */
  left: 8px; /* decreased position */
}

.one {
  font-weight: 700;
}

.text-element {
  width: 70px; /* decreased width */
  height: 16px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px; /* decreased font size */
  color: #7a869a;
  left: 16px; /* decreased position */
  position: relative;
}

.card-description {
  position: relative;
  top: 36px; /* decreased position */
  width: 295px;
  height: 60px; /* decreased height */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px; /* decreased font size */
  color: #344563;
}

.container-btns {
  position: relative;
  top: 42px; /* decreased position */
}

.button-group {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px; /* decreased gap */
}

.btn-li {
  margin-top: 0;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 16px; /* decreased padding */
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 10px; /* decreased font size */
  letter-spacing: 0.03em;
  color: #6070ff;
}

.box-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  gap: 10px;
  position: relative; /* Change position to relative */
  width: 44%; /* Set width to 100% */
  height: auto; /* Remove fixed height */
  margin-top: 16px; /* Add margin-top to space from the previous element */
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btn-card {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #396df2;
  border: none;
  background: transparent;
  width: 100%;
  height: 32px;
}






.personal-description {
  background: #fff;
  border-top-right-radius: 80px 80px;
}

.personal-description-container {
  margin: 5%;
}

.personal-description-title {
  font-size: 24px;
}

.personal-description-body {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.personal-description-connect {
  top: 10px;
  width: 100%;
  height: auto;
  font-size: 14px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  top: 20px;
  position: relative;
  right: 0;
  margin-top: 20px;
}

.social-media-item {
  margin: 0 10px;
}

.tech-list {
  display: flex;
  flex-direction: column;
  width: 61%;
}


.box-button-description {
  position: relative;
  height: 48px;
  border: 2px solid #6070ff;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  margin-top: 20px;
}

.btn-personal-description {
  font-size: 16px;
  top: 0;
  left: 0;
  margin-top: 5px;
}

.container-languages {
  position: relative;
  margin-top: 20px;
  
  left: 10%;

}

.languages {
  margin-top: 40px;
}

.language-technologies-button {
  width: 100%;
  height: auto;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.txt-language {
  font-size: 18px;
  top: 0;
  left: 0;
  margin-top: 5px;
}

.txt-tech {
  font-size: 14px;
}

.frameworks {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-form{
  background-image: url("../assets/header-shapes\ mobile.png");
  background-repeat: not-repeat;
  background-color: rgb(96, 112, 255);
  border-top-left-radius: 80px 80px;
  height: 100%;
}

.form-container {
  display: block;
  padding: 20px; /* reducir el padding para que se ajuste mejor */
}

.form-description {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100%; /* ajustar el ancho para que se ajuste a la pantalla móvil */
  margin-bottom: 10px; /* reducir el margen inferior */
}

.form-title {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px; /* reducir el tamaño de la fuente */
  align-items: center;
  text-align: center;
  color: #fff;
  left: 0;
  position: static; /* cambiar la posición para que no esté fuera de lugar */
  margin-bottom: 20px; /* agregar margen inferior */
}

#message-input {
  width: 100%; /* ajustar el ancho para que se ajuste a la pantalla móvil */
}

#email-input {
  width: 100%; /* ajustar el ancho para que se ajuste a la pantalla móvil */
}

#username {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

#email {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.form-input{
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 5px 0;
  height: 48px;
  width: 100%; /* ajustar el ancho para que se ajuste a la pantalla móvil */
}

.box-button-contact {
  display: block; /* cambiar la pantalla a bloque para que se ajuste verticalmente */
  padding: 10px;
  width: 100%; /* ajustar el ancho para que se ajuste a la pantalla móvil */
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  margin-top: 17px;
}

.btn-submit {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: none;
  background: transparent;
}


  /* Reglas de medios para dispositivos de pantalla más grandes */
  @media screen and (min-width: 775px) and (max-width: 768px) {
    .personal-description-container {
      margin: 10%;
    }
  
    .personal-description-title {
      font-size: 28px;
    }
  
    .personal-description-body {
      width: 100%;
      height: auto;
    }
  
    .personal-description-connect {
      font-size: 16px;
    }
  
    .social-media {
      display: flex;
      justify-content: center;
      top: 20px;
      position: relative;
      right: 0;
      margin-top: 20px;
    }
  
    .box-button-description {
      height: 56px;
    }
  
    .btn-personal-description {
      font-size: 18px;
    }
  
    .txt-language {
      font-size: 20px;
    }
  
  }

  @media screen and (max-width: 768px) {
    * {
      box-sizing: border-box; /* Mejora el cálculo del ancho de los elementos */
    }
  
    .navbar {
      width: 100%; /* Ocupa todo el ancho disponible */
      position: static; /* Quita la posición relativa para evitar superposiciones */
      margin: 0; /* Elimina los márgenes */
      text-align: center; /* Centra los elementos */
    }
  
    .brand {
      right: 0; /* Quita el desplazamiento a la derecha */
      width: auto; /* Adapta el ancho al contenido */
      margin: 0; /* Elimina los márgenes */
      top: 0; /* Quita el desplazamiento hacia abajo */
    }
  
    .ul-navbartool {
      display: flex;
      justify-content: space-between; /* Distribuye los elementos alrededor */
      margin: 0;
      padding: 0;
      list-style: none; /* Quita la viñeta de los elementos de la lista */
    }
  
    .li-navbartool {
      width: auto; /* Adapta el ancho al contenido */
      margin: 0; /* Elimina los márgenes */
      font-size: 16px; /* Reduce el tamaño de la fuente */
    }
  
    .union {
      display: block; /* Muestra el botón de hamburguesa */
    }
  
    .main-page {
      border-radius: 0; /* Quita la curvatura del borde inferior */
    }
  
    .Main-Page-container {
      top: 0; /* Quita el desplazamiento hacia abajo */
      left: 0;
      width: 100%; /* Ocupa todo el ancho disponible */
      padding: 0 16px; /* Agrega un poco de margen a los lados */
    }
  
    .title-mainpage {
      width: auto; /* Adapta el ancho al contenido */
      font-size: 32px; /* Reduce el tamaño de la fuente */
      line-height: 40px; /* Ajusta la altura de línea */
      height: auto; /* Adapta la altura al contenido */
      text-align: center; /* Centra el texto */
      margin: 16px 0; /* Agrega un poco de margen arriba y abajo */
    }
  
    .description-mainpage {
      width: auto; /* Adapta el ancho al contenido */
      font-size: 18px; /* Reduce el tamaño de la fuente */
      line-height: 24px; /* Ajusta la altura de línea */
      height: auto; /* Adapta la altura al contenido */
      text-align: justify; 
    }
  }

    
  
  




