
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    width: 417px;
    height: 718px;
}

header {
  width: 288px;
  padding: 0  20px;
  display: flex;
  justify-content: space-between;
  height: 100px;
 
}

header .brand {
  position: relative;
  top: 39px;
  width: 109px;
  height: 20px;
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(96, 112, 255);
  text-decoration: none;
}


header  .union {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    top: 29px;
    border-radius: 8px;
}



section {
  background-image: url("../assets/header-shapes\ mobile.png");
  background-repeat: not-repeat ;
  width: 100%;
}

section .container {
  background-image: url();
  position: relative;
  height: 718px;
  width: 375px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 2px;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

section .container h2 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
  margin: 15px;
  top: 34px;
}

section .container p:first-of-type {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  position: relative;
  flex-grow: 0;
  top: 5px;
  right: -20px;
}

section .container p:nth-of-type(2n) {
  width: 121px;
  height: 6px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
  position: relative;
  margin: 15px;
  top: 5px;;
}

section ul {
    width: 170.17px;
    height: 20px;
    flex: 0 0 auto;
    order: 3;
    position: relative;
    left: -35px;
    margin: 15px;
    top: 0px;
}

section .media {
  display: flex;
  list-style-type: none;
}

section .media li {
  padding-right: 14px;
  size: 10px;
}

section .media li:nth-child(3) {
  bottom: -3px;
  position: relative;
}

section .header-shapes {
  z-index: 1;
}
